

.work-sans-normal {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Header work */
.header{
    background-image: url(./images/developer.png),url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}

.text-primary{
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    color: white;
    padding: 13px 22px;
    border-radius: 5px;
    font-weight: bolder;
    border: none;
}
/* Nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 100px;
}
.dark-2{
    color: #474747;
}

.nav-title{
    font-size: 45px;
    font-weight: 800;
}
nav ul li{
    list-style: none;
}
nav li a{
    text-decoration: none;
}
nav ul{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

/* Banner Setion */
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 100px;
}
.banner-content{
    width: 500px;
}
.hardy-img{
    width:500px ;
}